@tailwind base;
@tailwind components;

html {
  font-family: "Rubik", sans-serif;
}
body {
  @apply bg-white-500;
}
p {
  @apply text-black-500;
}

@media only screen and (max-width: 414px) {
  .react-slick-slider {
    width: 300px;
  }
}

@media only screen and (max-width: 280px) {
  .react-slick-slider {
    width: 200px;
  }
}

@tailwind utilities;

@import "slick-carousel/slick/slick.css";
